.main_header{
    background-image: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=350");
    color:maroon;
    margin: 0px;
    padding: 45px;
    font-size: 35px;
    text-align: right;
    font-family: "Franklin Gothic Book",sans-serif;
}
body{
    margin: 0px;
    padding:0px;
}

.footer{
    background-color: darkred;
    color: cornsilk;
    padding: 5px;
    margin:auto;
    font-family: Arial,sans-serif;
    text-align: center;

}

.main_nav{
    background-color: darkred;
    padding: 5px;

}
.main_nav ul li{
    display:inline;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    font-family: "Old English Text MT",sans-serif;

}
.main_nav ul li a{
    text-decoration: none;
    color: wheat;
}
.main_nav ul li a:hover{
    background-color: aqua;
    padding: 20px;
    color: maroon;
    box-shadow: 0 0 15px orangered;
}
.main_nav ul li a.active{
    background-color: cornsilk;
    color:maroon;
    padding:22px;

}


.home_section .home1 h2{
    background-color: aqua;
    color:maroon;
    font-family: "Old English Text MT",sans-serif;
    font-size: 20px;
    padding:10px;
    margin: auto;
    text-align: center;
    width:200px;
    border-radius: 20px;
}
.home_section .home1{
    padding:10px;
    margin:10px;
}
.home_section .home2 {
    padding: 10px;
    color:wheat;
    margin: 10px;
}
.home_section{
    background-image: url("https://images.pexels.com/photos/60006/spring-tree-flowers-meadow-60006.jpeg?cs=srgb&dl=nature-flowers-sun-60006.jpg&fm=jpg");
background-repeat: no-repeat;
}
.home_section .home2 table{
    border:2px solid maroon;
    width:400px;
    margin:auto;
    color: maroon;
    text-align: center;
    border-radius: 30px 0 30px 0;
    padding:20px;

}

.python_section{
    background-color: orange;
    font-size: 20px;
    color:maroon;
    padding: 20px;
    font-family: "Franklin Gothic Book" ,sans-serif;
    transition: all 4s linear;
}
.python_section .python1 h2 {
    background-color: forestgreen;
    width: 500px;
    text-align: center;
    border-radius: 25px;
    padding: 8px;
    margin: auto;
}

.python_section .python2{
    border: 2px solid aqua;
    margin:20px;
    padding:20px;
    border-radius:25px;

}


.django_section{
    background-color: orange;
    font-size: 20px;
    color:darkblue;
    padding: 20px;
    font-family: "Franklin Gothic Book" ,sans-serif;
    transition: all 4s linear;
}
.django_section .django1 h2 {
    background-color: forestgreen;
    width: 500px;
    text-align: center;
    border-radius: 25px;
    padding: 8px;
    margin: auto;
}

.django_section .django2{
    border: 2px solid aqua;
    margin:20px;
    padding:20px;
    border-radius:25px;

}

.course_section{
    background-color: aquamarine;
    padding: 15px;
    margin: 0px;
}
.course_section .course1{
    background-color: maroon;
    color: wheat;
    text-align: center;
    padding: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    border-radius: 20px;
}

.course_section .course1 h2{
    font-family: "Franklin Gothic Book",sans-serif;
    font-size: 20px;

}
.course_section .course2 table{
    border: 2px solid orangered;
    background-color: antiquewhite;
    text-align: center;
    padding: 8px;
    margin: auto;
    box-shadow: 0 0 15px maroon;
    margin-bottom: 25px;

}

.course_section .course2 table td{
     border: 2px solid red;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 15px black;
    font-family: "Franklin Gothic Book",sans-serif;
    font-size: 15px;
}










































